.create-flow-container {
    margin: 20px auto;
    padding: 20px;
    border: none;
    border-radius: 5px;
    background-color: #121212;
    text-align: center;
  }
  
  .create-flow-container h2 {
    margin-bottom: 20px;
    color: #ffffff;
  }
  
  .flow-input {
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
    margin-bottom: 9px;
  }
  
  .create-flow-btn {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #181818;
    color: white;
  }
  
  .create-flow-btn:hover {
    background-color: #0056b3;
  }
  
  .or-text {
    margin: 5px 0;
    color: #ccc;
  }
  
  .auto-create-btn {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #181818;
    color: white;
  }
  
  .auto-create-btn:hover {
    background-color: #0056b3;
  }
  
  
  .note {
    color: #ccc;
    margin-top: 20px;
  }

  /*Apps display*/

  .apps-container {
    padding: 40px;
    margin: 20px;
    background-color: #121212;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px; /* Ensure it takes the full width of its container */
    overflow-x: auto; /* Enable horizontal scrolling */
}

.apps-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.apps-container .error-msg {
    color: red;
    text-align: center;
}

.apps-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; /* Display apps inline */
    flex-wrap: nowrap; /* Prevent wrapping */
    justify-content: center; /* Center align the items */
    overflow-x: auto; /* Enable horizontal scrolling */
}

.apps-container ul li {
    padding: 30px;
    margin-right: 10px;
    background-color: #181818;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center align the list item */
}

.apps-container ul li h3 {
    color: #e4e4e4;
    margin: 0;
    margin-bottom: 6px;
}

.apps-container ul li p {
    color: #666;
    margin: 0;
    margin-bottom: 8px;
}

.manage-btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: #121212;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s ease;
    margin-top: 10px; /* Add margin to push the button down */
}

.manage-btn:hover {
    background-color: #0056b3;
}